@charset "UTF-8";
/* Fonts */
@font-face {
    font-family: 'Vesper Libre';
    src: url('../fonts/vesper-libre_500.woff2');
    font-weight: 500;
}
@font-face {
    font-family: 'HK Grotesk';
    src: url('../fonts/hanken-grotesk_regular.woff2');
    font-weight: 400;
}
@font-face {
    font-family: 'HK Grotesk';
    src: url('../fonts/hanken-grotesk_bold.woff2');
    font-weight: 700;
}
/* Global */
html {
    font-size: 18px;
}
body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    line-height: 1.8;
    color: #000;
    font-family: 'HK Grotesk', Helvetica, Arial, sans-serif;
    overflow-x: hidden;
}
main {
    overflow-x: hidden;
}
p {
    max-width: 28em;
}
p,
ul {
    margin: 0 0 1em 0;
}
.title--medium + p {
    margin-bottom: 2em;
}
.list__item:last-child,
.tiny:last-child,
p:last-child,
ul:last-child {
    margin: 0;
}
.title {
    font-family: 'Vesper Libre', Georgia, Times, serif;
    font-size: 2.074em;
    font-weight: 500;
    line-height: 1.15;
    margin: 0 0 2rem 0;
}
.title--underline::after {
    background-color: #000;
    content: "";
    display: block;
    height: .25rem;
    margin-top: 1rem;
    width: 2rem;
}
.title--medium {
    font-size: 1.44em;
    line-height: 1.4;
    text-align: center;
}
.title--veryBig {
    font-size: 2.986em;
    line-height: 1.45;
}
.quote__content,
.list {
    position: relative;
}
.quote__content::before {
    content: "\201C\2009";
    left: -11.688px;
    position: absolute;
}
.list__item {
    font-weight: 700;
}
.list__item::before {
    content: "\2013\2009";
    left: -12.06px;
    position: absolute;
}
.list__item--regular {
    font-weight: 400;
}
.list__item .link {
    font-size: inherit;
    text-transform: inherit;
    letter-spacing: inherit;
}
.list__item--uppercase,
.tiny,
.upList,
.link {
    font-size: 0.694em;
    font-weight: 700;
    letter-spacing: .15rem;
    text-transform: uppercase;
}
.tiny {
    margin-bottom: .5rem;
}
.upList--noscript {
    margin-bottom: 2rem;
}
.upList .link {
    font-size: inherit;
}
.upList__item {
    margin-bottom: 1rem;
    line-height: 1.4;
}
.upList__item:last-child {
    margin: 0;
}
.link {
    color: #055B5C;
    -webkit-transition: color 500ms;
    -o-transition: color 500ms;
    transition: color 500ms;
}
.link:hover {
    color: #000;
}
.link--white {
    color: #fff
}
.link--orange {
    color: #E17464;
}
.link--pink {
    color: #FAEBEE;
}
.link--box {
    background-color: #E17464;
    line-height: 3rem;
    text-align: center;
    width: calc(100vw - 4rem);
    -webkit-transition: all 175ms cubic-bezier(0.47, 0, 0.745, 0.715);
    -o-transition: all 175ms cubic-bezier(0.47, 0, 0.745, 0.715);
    transition: all 175ms cubic-bezier(0.47, 0, 0.745, 0.715);
    display: inline-block;
}
.link--bordered {
    background-color: #fff;
    -webkit-box-shadow: inset 0 0 0 2px #E17464;
            box-shadow: inset 0 0 0 2px #E17464;
}
.link--box:hover {
    color: #fff;
    background-color: #000;
}
.link--bordered:hover {
    -webkit-box-shadow: inset 0 0 0 2px #000;
            box-shadow: inset 0 0 0 2px #000;
}
.caption {
    font-size: 0.833em;
    line-height: 1.7;
    margin-top: 1em;
    position: relative;
    top: -11px;
}
.section {
    position: relative;
    padding: 3em 2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.section--bg::after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: #FAEBEE;
    background-image: url('../images/pattern_cartographer.svg');
    background-size: 60em;
}
.section--bgGreen::after {
    background-color: #055b5c;
}
.section--bgOrange::after {
    background-color: #E17464;
}
.section--bgGreen,
.section--bgOrange {
    color: #fff
}
.section--bgGreen .title--underline::after,
.section--bgOrange .title--underline::after {
    background-color: #fff;
}
.imgOverflow {
    position: relative;
    right: -2em;
    margin: -7em 0 3em auto;
    width: 75vw;
}
.imgOverflow__item {
    width: 100%;
}
.slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 0 2em 0;
    overflow: scroll;
    position: relative;
    left: -2em;
    width: 100vw;
}
.slider::-webkit-scrollbar {
    display: none;
}
.slider__item:not(:nth-child(2)) {
    padding: 0 2em;
}
.slider__img {
    height: 50vw;
    width: 70vw;
}
/* Navigation */
.navBar {
    top: 0;
    height: 3em;
    width: calc(100vw - 4em);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    padding: 0 2em;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    z-index: 3;
    justify-content: space-between;
}
.navBar::before {
    content: '';
    background-color: #fff;
    height: 3em;
    z-index: -1;
    width: 100vw;
    position: fixed;
    left: 0;
    top: 0;
}
.navBar__logo {
    background-repeat: no-repeat;
    overflow: hidden;
    background-image: url('../images/iolce_logo.svg');
    width: 3em;
}
.navBar__title {
    margin: 0;
    height: .5rem;
}
.navBar__burger {
    background-color: transparent;
    background-image: url('../images/burger_menu.svg');
    background-position: center center;
    height: 1.5rem;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    width: 1.5rem;
    background-repeat: no-repeat;
    text-indent: 9999px;
    padding: 0;
    border: 0;
    outline: none;
}
.navBar__burger--open {
    background-image: url('../images/cross_menu.svg');
    -webkit-transform: scaleX(-1);
        -ms-transform: scaleX(-1);
            transform: scaleX(-1);
}
.navBar__menuDesktop {
    visibility: hidden;
}
.menu {
    position: fixed;
    width: calc(100vw - 4em);
    bottom: 0;
    height: calc(100vh - 7em);
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    left: 100%;
    padding-bottom: 2em;
    padding-top: 2em;
    text-align: right;
    -webkit-transition: all 600ms cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: all 600ms cubic-bezier(0.77, 0, 0.175, 1);
    transition: all 600ms cubic-bezier(0.77, 0, 0.175, 1);
    z-index: 2;
    margin-top: 3em;
}
.menu--open {
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
}
/* Landing, L'Homme et la nature & La technologie et l’Homme */
.landing,
.chapter11,
.chapter31 {
    padding-bottom: 8em;
}
/* Landing */
.landing {
    padding-top: 7em;
    text-align: center;
}
/* L'Homme et la nature */
.paints {
    margin: -8em 0 3em auto;
    position: relative;
    left: -2em;
}
.paints__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100vw;
}
.paints__item:first-child {
    margin: 2em -3em 0 0;
    height: 46vw;
}
.paints__item:last-child {
    height: 70vw;
}
.paints .caption {
    top: 100%;
    text-align: center;
}
/* L’Homme, la nature et la technologie */
.conclusion__memorize {
    margin: 2rem auto 2rem auto;
    font-family: 'Vesper Libre', Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2em;
    text-align: center;
    font-weight: 400;
    max-width: 20em;
}
/* Abstract & Crédits */
.credits,
.abstract {
    margin-top: 3em;
}
@media (min-width: 512px){
    /* Global */
    .title {
        font-size: 2.488em;
    }
    .title--underline::after {
        height: .12em;
    }
    .title--medium {
        font-size: 1.728em;
        margin-bottom: 3rem;
    }
    .title--veryBig {
        font-size: 3.583em;
    }
    .link--box {
        width: calc(50vw - 3rem);
    }
    .section {
        padding: 4em 3em;
    }
    .imgOverflow {
        margin: -8em 0 4em auto;
        right: -3em;
        max-width: 35em;
    }
    .slider {
        left: -3em;
    }
    .slider__item:not(:nth-child(2)) {
        padding: 0 3em;
    }   
    .slider__img {
        width: calc(90vw - 6em);
        max-width: 35em;
        max-height: 25em;
    }
    /* Navigation */
    .navBar {
        width: calc(100vw - 6em);
        padding: 0 3em;
    }
    .menu {
        width: calc(100vw - 6em);
        height: calc(100vh - 9em);
        padding: 3em;
    }
    /* Landing, L'Homme et la nature & La technologie et l’Homme */
    .landing,
    .chapter11,
    .chapter31 {
        padding-bottom: 8em;
    }
    /* Landing */
    .landing {
        height: 60vh;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        padding-top: 7em;
    }
    /* L'Homme et la nature */
    .paints {
        left: -3em;
        margin-bottom: 4em;
    }
    /* L'homme, la nature et la technologie */
    .conclusion__memorize {
        margin: 3rem auto 3rem auto;
        font-size: 1.44em;
    }
    .buttonsNextTo {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    /* Crédits */
    .credits {
        margin-top: 3em;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }
    .credits__links {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .credits__links .list {
        margin-right: 3em;
        margin-bottom: 2em;
    }
}
@media (min-width: 960px){
    /* Global */
    .title {
        font-size: 2.986em;
        margin: 0 0 3rem 0;
    }
    .title--underline::after {
        height: .3rem;
    }
    .title--medium {
        font-size: 2.074em;
        margin-bottom: 6rem;
    }
    .title--veryBig {
        font-size: 8vh;
        margin-bottom: 1rem;
    }
    .link--box {
        width: 100%;
    }
    .section {
        padding: 8em 1em;
        width: 85vw;
        margin: auto;
        max-width: 60em;
    }
    .section--bg:not(.menu)::after {
        overflow: hidden;
        width: 300vw;
        left: -100%;
    }
    .section__sideTexts {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .section__sideTexts p:first-child {
        margin: 0 3em 0 0;
    }
    .imgOverflow {
        margin: -11em 0 4em auto;
        right: 0;
    }
    .imgOverflow .caption {
        text-align: right;
    }
    .slider {
        left: 0;
        width: 100%;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        text-align: center;
        margin-bottom: 3em;
    }
    .slider__item {
        width: calc(50% - 1.5em);
    }
    .slider__item:first-child {
        width: 100%;
        margin-bottom: 2em;
    }
    .slider__item:not(:nth-child(2)) {
        padding: 0;
    }
    .slider__item:last-child {
        margin-left: 3em;
    }
    .slider__img {
        width: 100%;
        height: 18em;
    }
    .slider__item:first-child .slider__img {
        height: 32em;
        max-width: unset;
        max-height: unset;
    }
    /* Landing, L'Homme et la nature & La technologie et l’Homme */
    .chapter11,
    .chapter31 {
        padding-bottom: 12em;
    }
    /* Navigation */
    .navBar {
        width: 85vw;
        max-width: 60em;
        margin: auto;
        padding: 0 1em;
        left: 0;
        right: 0;
    }
    .navBar__menuDesktop {
        visibility: visible;
        -webkit-transition: opacity 250ms;
        -o-transition: opacity 250ms;
        transition: opacity 250ms;
        opacity: 1;
    }
    .navBar__menuDesktop--hide {
        opacity: 0;
    }
    .navBar__menuDesktop .upList {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .navBar__menuDesktop .upList__item:not(:last-child) {
        margin-bottom: 0;
        margin-right: 3rem;
    }
    .menu {
        width: calc(100% - 8em);
        height: calc(100% - 11em);
        max-width: unset;
        padding: 4em;
        margin-top: 3em;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        text-align: center;
    }
    .menu .upList__item {
        font-size: 1.44em;
        margin-bottom: 2rem;
    }
    .menu .upList__item:nth-child(4) {
        margin-bottom: 0;
    }
    .upList__item--desktop {
        display: none;
    }
    /* Landing */
    .landing {
        height: 70vh;
    }
    /* L'Homme et la nature */
    .paints {
        margin: -12em 0 4em auto;
        left: 0;
        width: 100%;
    }
    .paints__container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        margin-left: auto;
    }
    .paints__item:first-child {
        margin: 2em -4em 0 0;
        height: 30vw;
        max-height: 20em;
    }
    .paints__item:last-child {
        height: 35vw;
        max-height: 33em;
    }
    .paints .caption {
        top: 100%;
        text-align: right;
    }
    /* L'homme, la nature et la technologie */
    .conclusion__memorize {
        margin: 4rem auto 4rem auto;
    }
    .buttonsNextTo {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 85vw;
        max-width: 60em;
    }
    .buttonsNextTo__item {
        width: 100%;
    }
    /* Abstract & Crédits */
    .navBar--secondary .navBar__burger {
        visibility: hidden;
    }
    /* Abstract */
    .abstract {
        margin-top: 3em;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .abstract .title {
        width: 28rem;
    }
}
/* Scroll Fixes */
section[id]::before {
    content: '';
    display: block;
    height: 3em;
    margin-top: -3em;
}