@charset "UTF-8";
/* Reset */
* {
    border: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}
/* Global */
@font-face {
    font-family: 'Vesper Libre';
    src: url('../fonts/vesper-libre_500.woff2');
    font-weight: 500;
}
@font-face {
    font-family: 'HK Grotesk';
    src: url('../fonts/hanken-grotesk_regular.otf');
    font-weight: 400;
}
@font-face {
    font-family: 'HK Grotesk';
    src: url('../fonts/hanken-grotesk_bold.otf');
    font-weight: 700;
}
html {
    color: #000;
    font-family: 'HK Grotesk', Helvetica, Arial, sans-serif;
    font-size: 18px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    line-height: 1.8;
}
ul {
    list-style-type: none;
}
img {
    object-fit: cover;
}
a {
    text-decoration: none;
}
p,
ul {
    margin: 0 0 1em 0;
}
.tiny:last-child,
p:last-child,
ul:last-child {
    margin: 0;
}
.tiny,
.link {
    display: inline-block;
    font-size: 0.694em;
    font-weight: 700;
    letter-spacing: .15rem;
    line-height: 1.6;
    margin-bottom: .5rem;
    text-transform: uppercase;
}
.link {
    color: #055B5C;
}
.link--white {
    color: #fff
}
.link--box {
    background-color: #E17464;
    height: 3rem;
    line-height: 3rem;
    margin: auto;
    text-align: center;
    width: calc(100vw - 4rem);
}
.link--bordered {
    background-color: #fff;
    -webkit-box-shadow: inset 0 0 0 2px #E17464;
            box-shadow: inset 0 0 0 2px #E17464;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: #E17464;
}
.title {
    font-family: 'Vesper Libre', Georgia, Times, serif;
    font-size: 2.074em;
    font-weight: 500;
    line-height: 1.15;
    margin: 0 0 2rem 0;
}
.title--underline::after {
    background-color: #000;
    content: "";
    display: block;
    height: .22rem;
    margin-top: 1rem;
    width: 2rem;
}
.title--medium {
    display: block;
    font-size: 1.44em;
    line-height: 1.4;
    margin-bottom: 3rem;
    text-align: center;
}
.title--veryBig {
    font-size: 2.986em;
    line-height: 1.45;
}
blockquote,
.list {
    position: relative;
}
.list__el::before {
    content: "\2013\2009";
    left: -12.06px;
    position: absolute;
}
.list__link {
    font-weight: 700;
}
.caption {
    font-size: 0.833em;
    line-height: 1.7;
    margin-top: 1em;
    position: relative;
    top: -11px;
}
.section {
    padding: 3em 2em;
}
.section--small {
    padding-top: 0;
    padding-bottom: 0;
}
.section--bg {
    background-color: #FAEBEE;
    background-image: url('../images/pattern_cartographer.svg');
    background-size: 1024px;
}
.section--bgGreen {
    background-color: #055B5C;
}
.section--bgOrange {
    background-color: #E17464;
}
.section--bgGreen *,
.section--bgOrange * {
    color: #fff
}
.section--bgGreen .title--underline::after,
.section--bgOrange .title--underline::after {
    background-color: #fff;
}
.imgOverflow {
    padding-top: calc(4em + 37vw);
    position: relative;
}
.imgOverflow__el {
    margin: 0;
    position: absolute;
    right: 0;
    top: -17vw;
    width: 80vw;
}
.slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 0 3em 0;
    overflow: scroll;
    position: relative;
    right: 2em;
    width: 100vw;
}
.slider__figure {
    padding: 0 2em;
}
.slider__figure:nth-child(2) {
    padding: 0;
}
.slider::-webkit-scrollbar {
    display: none;
}
.slider__img {
    max-width: 100vw;
}
@media (max-width: 400px) {
    .slider__img {
        height: 7em;
    }
}
/* Navigation */
.navBar {
    padding-top: 0;
    padding-bottom: 0;
}
.navBar .section__content{
    height: 3em;
    width: calc(100vw - 4em);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 2em;
    left: 0;
    position: fixed;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    z-index: 3;
    justify-content: space-between;
    flex-direction: row;
}
.navBar__logo {
    background-repeat: no-repeat;
    overflow: hidden;
    text-indent: 200%;
    white-space: nowrap;
    background-image: url('../images/iolce_logo.svg');
    height: .5em;
    width: 3em;
}
.navBar__burger {
    background-color: transparent;
    background-image: url('../images/burger_menu.svg');
    background-position: center center;
    height: 1.5rem;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    width: 1.5rem;
    will-change: transform;
    background-repeat: no-repeat;
    overflow: hidden;
    text-indent: 200%;
    white-space: nowrap;
}
.menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    width: calc(100vw - 4em);
    bottom: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: calc(100vh - 7em);
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    left: 100%;
    padding-bottom: 2em;
    padding-top: 2em;
    text-align: right;
    -webkit-transition: all 600ms cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: all 600ms cubic-bezier(0.77, 0, 0.175, 1);
    transition: all 600ms cubic-bezier(0.77, 0, 0.175, 1);
    will-change: transform;
    z-index: 2;
    margin-top: 3em;
}
.menu__links {
    line-height: 0;
    overflow: scroll;
}
.menu__link {
    display: block;
    margin-bottom: 2rem;
}
.menu__link .link,
.menu__link:last-child{
    margin-bottom: 0;
}
.navBar__burger--open {
    background-image: url('../images/cross_menu.svg');
    -webkit-transform: scaleX(-1);
        -ms-transform: scaleX(-1);
            transform: scaleX(-1);
}
.menu--open {
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
}
/* Landing */
.landing {
    padding-top: 7em;
    text-align: center;
    padding-bottom: calc(4em + 17vw);
}
/* L'Homme et la nature */
.chapter11 {
    padding-bottom: 10em;
    padding-bottom: calc(4em + 23vw);
}
.chapter12 {
    padding-top: calc(4em + 50vw);
}
@media (max-width: 390px) {
    .chapter12 {
        padding-top: 16em;
    }
}
.chapter12 .imgOverflow__el {
    height: 80vw;
    left: 0;
    top: -24vw;
    width: 100vw;
}
.chapter12 img {
    position: absolute;
}
.chapter12 img:first-of-type {
    left: 0;
    top: 15%;
    width: 65vw;
}
.chapter12 img:last-of-type {
    right: 0;
    width: 55vw;
}
.chapter12 .caption {
    text-align: center;
    top: 88%;
}
/* La nature et la technologie */
.chapter22 p:first-of-type {
    margin-bottom: 3rem;
}
/* La technologie et l’Homme */
.chapter31 {
    padding-bottom: calc(4em + 17vw);
}
.chapter31__quotation::before {
    content: "\201C\2009";
    left: -11.688px;
    position: absolute;
}
/* L’Homme, la nature et la technologie */
.conclusion p:last-child {
    margin-bottom: 1em;
}
.conclusion strong {
    display: block;
    margin-bottom: 3em;
    font-weight: 700;
}
.endList {
    color: #055B5C;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    line-height: 0;
}
.endList:nth-child(1) {
    margin-bottom: 1em;
}
.endList .tiny:nth-child(2){
    margin-bottom: 2rem;
}
.endList__link {
    color: #FAEBEE;
}
/* Abstract */
.abstract {
    margin-top: 3em;
}
/* Credits */
.credits {
    margin-top: 3em;
}
/* Scroll Fixes */
.noscroll {
    overflow: hidden;
    position: relative;
}
@media (min-width: 534px){
    /* Global */
    .link--box {
        width: calc(50vw - 3rem);
    }
    .title {
        font-size: 2.488em;
        margin: 0 0 2rem 0;
    }
    .title--underline::after {
        height: .12em;
    }
    .title--medium {
        font-size: 1.728em;
        margin-bottom: 3rem;
    }
    .title--veryBig {
        font-size: 3.583em;
    }
    .slider {
        right: 3em;
    }
    .slider__figure {
        padding: 0 3em;
    }
    .slider__figure:nth-child(2) {
        padding: 0;
    }
    .slider__img {
        width: calc(90vw - 6em);
        height: 50vw;
    }
    .section {
        padding-left: 3em;
        padding-right: 3em;
    }
    /* Navigation */
    .navBar {
        padding-top: 0;
        padding-bottom: 0;
    }
    .navBar .section__content {
        width: calc(100vw - 6em);
        padding: 0 3em;
    }
    .menu {
        width: calc(100vw - 6em);
    }
    /* Landing */
    .landing {
        height: 60vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* L'homme, la nature et la technologie */
    .conclusion ul:only-of-type {
        width: calc(100vw - 6rem);
        display: flex;
    }
}
@media (min-width: 960px){
    /* Global */
    p {
        max-width: 500px;
    }
    .title {
        font-size: 2.986em;
        margin: 0 0 3rem 0;
    }
    .title--medium {
        font-size: 2.074em;
        margin-bottom: 6rem;
    }
    .title--veryBig {
        font-size: 8vh;
    }
    .title--underline::after {
        height: .27rem;
        margin-top: 1rem;
    }

    .section {
        padding: 8em 1em;
    }
    .section__content {
        width: 85vw;
        max-width: 1024px;
        margin: auto;
        right: 0;
        position: relative;
        display: flex;
        flex-direction: column;
    }
    .section__sideTexts {
        display: flex;
        flex-direction: row;
    }
    .section__sideTexts p:first-child {
        margin: 0 2em 0 0;
    }
    .imgOverflow__el {
        margin-top: -11em;
        margin-bottom: 4em;
        margin-left: auto;
        height: 28vw;
        width: 43vw;
        max-height: 22em;
        max-width: 600px;
        position: initial;
        right: 0;
    }
    .slider {
        right: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        text-align: center;
    }
    .slider__figure {
        padding: 0;
        width: calc(50% - 1em);
    }
    .slider__figure:last-child {
        margin-left: 2em;
    }
    .slider__figure:nth-child(2) {
        padding: 0;
    }
    .slider__figure:first-child {
        width: 100%;
        margin-bottom: 1em;
    }
    .slider__figure:first-child .slider__img {
        width: 100%;
        height: 32em;
    }
    .slider__img {
        width: 100%;
        height: 15em;
    }
    /* Landing */
    .landing {
        height: 70vh;
    }
    /* Navigation */
    .navBar {
        padding-top: 0;
        padding-bottom: 0;
    }
    .navBar .section__content {
        width: calc(100% - 8em);
        padding: 0 4em;
        max-width: none;
    }
    .menu {
        width: calc(100% - 8em);
        height: calc(100% - 8em);
        padding: 4em;
    }
    /* L'Homme et la nature */
    .chapter11 {
        padding-bottom: 11em;
    }
    .chapter12 .imgOverflow__el {
        width: 70%;
        position: relative;
        height: 37vw;
        max-height: 35em;
        top: -12em;
        margin: auto;
        max-width: inherit;
    }
    .chapter12 .imgOverflow__el img:first-of-type {
        width: 33vw;
        height: auto;
        max-width: 600px;
        max-height: 24em;
        top: 5%;
    }
    .chapter12 .imgOverflow__el img:last-of-type {
        width: 28vw;
        max-width: 500px;
        height: 100%;
        max-height: 35em
    }
    .chapter12 .imgOverflow__el .caption {
        position: absolute;
        top: 100%;
        bottom: 0;
        width: 100%;
        text-align: center;
        height: 25px;
    }
    .chapter12 p {
        margin-top: calc(-17% + 3em);
    }
    /* La technologie et l'homme */
    .chapter31 {
        padding-bottom: 11em;
    }
    /* L'homme, la nature et la technologie */
    .conclusion p:last-child {
        margin-bottom: 0;
    }
    .conclusion .section__sideTexts {
        margin-bottom: 1em;
    }
    .conclusion ul:only-of-type {
        width: 85vw;
        max-width: 1024px;
    }
    .conclusion ul:only-of-type li {
        width: 100%;
    }
    .link--box {
        width: 100%;
    }
}